.box {
    border: 3px solid #aaa;
    padding: 50px 60px;
}

.bottom_button{
  padding: 5px 10px;
  margin: 10px 5px;
  font-size: 20px;
}

.revealer{
    transition: all 0.5s ease;
    min-height: 350px;
}

.noRevealer{
    transition: all 0.5s ease;
}

.button_content_reveal{
    padding: 5px 10px;
}

.character_label{
    font-size: 34px;
}

.yellow{
  border-color: yellow;
}
